@{ 
    Business.Pagina pagina = ViewBag.Pagina;
}
<div class="jumbotron">
    <h3>Nova página</h3>

    <div>
        <a href="/paginas" class="btn btn-default">Voltar</a>
    </div>

    <form action="/paginas/@pagina.Id/alterar" method="post">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" value="@pagina.Nome">
        </div>
        <div class="form-group">
            <label for="data">Data</label>
            <input type="datetime" class="form-control" id="data" name="data" value="@pagina.Data">
        </div>
        <div class="form-group">
            <label for="conteudo">Conteúdo</label>
            <textarea id="conteudo" class="form-control" name="conteudo">@pagina.Conteudo</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Alterar</button>
    </form>    
</div>