@{
    var nome = ViewBag.nome;
}

<div class="jumbotron">
    <h1>Cadastrar Páginas</h1>
    <div>
        <a href="/paginas" class="btn btn-default">Ir para cadastro de páginas</a>
        <h3>@nome</h3>
    </div>
</div>